.md-typeset h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
    color: var(--md-primary-fg-color) !important;
}

.md-typeset h1 {
    font-size: 3em;
    margin-bottom: 1rem;
}

.md-main__inner {
    margin-top: 0.5rem;
}

.md-button[disabled], .md-button:disabled {
    background-color: #ccc;
    border: #ccc;
    cursor: default;
}

.md-button[disabled]:hover, .md-button:disabled:hover,
.md-button[disabled]:active, .md-button:disabled:active,
.md-button[disabled]:focus, .md-button:disabled:focus {
    background-color: #ccc;
    border: #ccc;
    cursor: default;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 1rem 0;
    position: relative;
}

.card-grid>.card:nth-child(1n) {
    position: relative;
    z-index: 3;
}

.card-grid>.card:nth-child(2n) {
    position: relative;
    z-index: 2;
}

.card-grid>.card:nth-child(3n) {
    position: relative;
    z-index: 1;
}

.card-grid>.card:nth-child(4n) {
    position: relative;
    z-index: 0;
}

.card-grid--fan >.card:nth-child(1n) {
    left: 300px;
    top: 10px;
    transform: rotate(-5deg);
}
    
.card-grid--fan >.card:nth-child(2n) {
    left: 100px;
    top: -10px;
    transform: rotate(-1deg);
}

.card-grid--fan >.card:nth-child(3n) {
    left: -100px;
    top: -10px;
    transform: rotate(4deg);
}

.card-grid--fan >.card:nth-child(4n) {
    left: -300px;
    top: 0px;
    transform: rotate(7deg);
}

.card-grid .card {
    max-width: 365.56px;
    margin: 0 auto;
}

.card-grid p {
   margin: 0;
}

.card img, img.card {
    border-radius: 4.1%;
    box-shadow: 0 0 3px -1px transparent, 0 0 2px 1px transparent, 0 0 5px 0px transparent, 0px 4px 10px -5px rgba(0,0,0,0.3), 0 2px 10px -5px rgba(0,0,0,0.3), 0 0 20px 0px transparent
}

.card-grid .card h4 {
    visibility: hidden;
    height: 0px;
    margin: 0;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .card-grid--fan {
        max-width: 420px;
        margin: auto;
    }

    .card-grid--fan>.card:nth-child(1n) {
        left: -50px;
        top: 10px;
    }

    .card-grid--fan>.card:nth-child(2n) {
        left: 0px;
        top: -10px;
    }

    .card-grid--fan>.card:nth-child(3n) {
        left: 50px;
        top: 0px;
    }

    .card-grid--fan>.card:nth-child(4n) {
        left: 100px;
        top: 0px;
    }
}

@media screen and (max-width: 900px) {
    .card-grid--fan>.card {
        grid-column: 1;
        grid-row: 1;
        max-width: 165.56px;
    }

    .card-grid--fan>.card:nth-child(1n) {
        left: -90px;
        top: 5px;
        transform: rotate(-5deg);
    }

    .card-grid--fan>.card:nth-child(2n) {
        left: -30px;
        top: -10px;
        transform: rotate(-1deg);
    }

    .card-grid--fan>.card:nth-child(3n) {
        left: 30px;
        top: -5px;
        transform: rotate(3deg);
    }

    .card-grid--fan>.card:nth-child(4n) {
        left: 90px;
        top: 0px;
        transform: rotate(7deg);
    }
}

@media screen and (min-width: 900px) {
    .card-grid {
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.gslide-image img {
    background-color: transparent !important;
    z-index: 99999;
}

.jlpt-listing {
    text-align: center;
}

.jlpt-listing h2 {
    margin-bottom: 0;
    font-weight: bold;
    color: var(--md-primary-fg-color);
}

.jlpt-listing .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px 2vw;
}

.md-footer {
    font-size: 0.64rem;
    padding: 0 1.5rem 1.5rem 1.5rem;
    background-color: white;
    color: #aaaaaa;
    text-align: center;
}

.md-footer a {
    text-decoration: underline;
}

/* DICTIONARY */

.large {
    font-size: 2em;
}

.medium {
    font-size: 1.5em;
}

.progress {
    margin-bottom: 1rem;
}

.progress .headings {
    display: flex;
    justify-content: space-between;
    color: var(--md-primary-fg-color);
    font-weight: bold;
}

.progress .bar {
    width: 100%;
    height: 1rem;
    background-color: #e5e7eb;
    border-radius: 9999px;
}

.progress .percent {
    width: 0;
    height: 1rem;
    background-color: var(--md-primary-fg-color);
    border-radius: 9999px;
}

.progress--vocab .headings {
    color: #68bb6c;
}
.progress--vocab .percent {
    background-color: #68bb6c;
}

.progress--contexts .headings {
    color: #ab47bd;
}
.progress--contexts .percent {
    background-color: #ab47bd;
}

.japanese {
    font-family: 'Sawarabi Gothic', sans-serif;
}

.interpunct {
    display: none;
}

.kanji-wrapper h3 {
    display: flex;
    font-size: 22px;
}

.kanji {
    width: 90px;
    height: 90px;
    position: relative;
    padding: 0;
    border: 0.05rem solid var(--md-default-fg-color--lightest);
    border-radius: 0.1rem;
    margin-right: 1rem;
    display: inline-block;
    box-shadow: var(--md-shadow-z1);
    background-color: var(--md-primary-fg-color);
    color: white;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 44px;
    line-height: 1.6;
}

.kanji span {
    position: absolute;
    top: 8px;
    left: 22px;
}

.kanji img {
}

.kanji:hover {
    font-family: 'Sawarabi Mincho', serif;
}

.kanji:hover span {
    top: 0.375rem;
}

.kanji-details {
    display: inline-block;
    padding-top: 0.4rem;
}

blockquote.story {
    margin-left: 1.4rem;
}

.kanji-contexts {
    margin-left: 1.4rem;
}

.vocab-wrapper h3 {
    display: flex;
    font-size: 22px;
}

@media (max-width: 768px) {
    .vocab-wrapper h3 {
        flex-direction: column;
        align-items: flex-start;
    }

    .vocab-wrapper h3 .headerlink {
        height: 1px !important;
        opacity: 0 !important;
    }
}

mark.cited-vocab {
    background-color: var(--md-typeset-ins-color);
}

.vocab {
    position: relative;
    padding: 0.8rem 1rem;
    border: 0.05rem solid var(--md-default-fg-color--lightest);
    border-radius: 0.1rem;
    margin-right: 1rem;
    display: inline-block;
    box-shadow: var(--md-shadow-z1);
    background-color: var(--md-primary-fg-color);
    color: white;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 44px;
    line-height: 1.2;
}

.vocab span {
    
}

.vocab:hover {
    font-family: 'Sawarabi Mincho', serif;
}

.vocab-details {
    display: inline-block;
    padding-top: 0.4rem;
}

/* GRIDS */

.md-typeset .grid {
    grid-gap: 0.4rem;
    display: grid;
    grid-template-columns: 1fr;
    margin: 1em 0;
}

@media (min-width: 640px) {
    .md-typeset .grid {
        grid-template-columns: 1fr 1fr;
    }
}

.md-typeset .grid.grid--kanji {
    margin-left: 1.4rem;
}

.md-typeset .grid.grid--kanji strong {
    font-weight: normal;
    opacity: .75;
}

.md-typeset .grid>* {
    margin-bottom: 0;
    margin-top: 0;
}
 .md-typeset .grid>.grid__card {
    border: 0.05rem solid var(--md-default-fg-color--lightest);
    border-radius: 0.1rem;
    display: block;
    margin: 0;
    padding: 0.8rem;
    transition: border .25s,box-shadow .25s;
}

.md-typeset .grid>.grid__card.empty {
    border: 0.05rem solid #f2f2f2;
    color: var(--md-default-fg-color--light);
    border-radius: 0.1rem;
    display: block;
    margin: 0;
    padding: 0.8rem;
}
